@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}